<%- include("partials/header") %>
    
<img class="nab"src="https://s17026.pcdn.co/wp-content/uploads/sites/9/2018/08/Business-bank-account-e1534519443766.jpeg" alt="">
<h1>Basic Banking System</h1>

<p class="main-content">
    The main objective of this app is to transfer credits between customers and
    to maintain transaction history as well.
</p>

<p class="main-content2">
    Made By : <a href="https://www.linkedin.com/in/jalaj-mittal-45a0a9200/">Jalaj Agarwal</a>
</p>

<%- include("partials/footer") %>